.selected{
    color: white !important;
    font-size: 40px;
}
.movies {
    background: #fff339;
    padding: 0.5em 1em 0.5em 1.5em;
    margin: 1em;
    max-width: 16em;
}

.movies .moviesList {
    font-size: 0.875em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #0bc937;
    color: blue;
    text-align: center;
    margin: 0.2em;
    padding: 0.3em;
    
}
.parent{
    display: flex;
}
.details{
    background: green;
    
}